main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.review-box{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100vh;
}



.box{
    display: grid;
    place-items: center;
}

span,
button{
    cursor:pointer;
    color: black;
}

.bottom{
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;
}
