.review-box{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100vh;
}

.rr{
    background-color: red;
}


.box{
    display: grid;
    place-items: center;
}

span{
    cursor:pointer;
}