.review-box{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    height: 100vh;
}

.box{
    display: grid;
    place-items: center;
}