body {
    background-color: grey;
    display:grid;
    place-items: center;
    height: 100vh;
}

.head{
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

main{
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
}

.tag{

}

.btn{
    top: 70px;

}