/*html{
    scroll-behavior: smooth;
};
*/

.heading {
    position: relative;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
};

.video{
    position: fixed;

}

.btn{
    background-color: rgb(30, 112, 94);
}