/*html{
    scroll-behavior: smooth;
};
*/

.preloader{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: var(--transition);
    z-index: -500;
};

.hide-preloader{
    visibility: hidden;
    z-index: 100;
    

}

.heading {
    position: fixed;
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1000;
};

.video{
    position: fixed;

}

.btn{
    position: relative;
    background-color: rgb(30, 112, 94);
}

.text{
    background-color: aqua;
}

.text-change{
    background-color: blue;
    visibility: hidden;
}