body{
    background-color: rgb(47, 97, 80);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}

main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    
}

