body{
    background-color: rgb(47, 97, 80);
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    
}

main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    
}

.number{
    margin-bottom: 6px;
    font-size: 40px;

}

.btn{
    margin-top: 16px;
    display: flex;
    column-gap: 15px;

}

.btn button{
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
    transition: hover 1s;
}

button:hover {
    background-color: rgb(80, 255, 64);
    color: white;
}